body {
    background-color: #095c75 ;
    font-family: monospace;
    text-align: center;
}
h1 {
    color: rgb(223, 205, 205);
    text-decoration: underline;
    font-size: 50px;
}
h2 {
    color: rgb(223, 206, 206);
    text-decoration: underline;
    font-size: 40px;
}
p {
    color: #b68483;
    font-size: 30px;
}
#link-direita{
    float:right;
    text-align: right;
    margin-right: 300px;
}
#link-esquerda {
    float:left;
    text-align: left;
    margin-left: 300px;
}
#Photo {
    border:10px solid blue;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#um {
    position:absolute;
    margin-left:100px;
}
#dois {
    position:absolute;
    margin-left:350px;
}
#tres {
    position:absolute;
    margin-left:850px;
}
#quatro {
    position:absolute;
    margin-left:1100px;
}
#cabecalho{
    height: 100px;
    background-color: tomato;
}